@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

body {
        font-family: 'Plus Jakarta Sans', sans-serif;
        background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);

}

main {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

}

.container {
        padding: 15px;
        display: Flex;
        gap: 100px;
}

.darkimage {
        padding: 10px;
        width: 90px;
        height: 25px;
}

.getstarted {
        width: 150px;
        height: 45px;
        border-radius: 28px;
        background-color: #13183F;
        border-style: none;
}

.getstarted:hover {
        background-color: #666CA3;
}

a {
        font-weight: 700;
        font-size: 15px;
        color: white;
}

h1 {
        padding: 15px 30px;
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        color: #13183F;
}

.paragraph {
        padding: 15px 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #83869A;
}

.getstartedmiddle {
        margin-top: 15px;
        margin-right: 175px;
        width: 167px;
        height: 52px;
        border-radius: 31px;
        border-style: none;
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.getstartedmiddle:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.aa {
        font-size: 15px;
        font-weight: 700px;
}

.middlecontainer {
        width: 343px;
        height: 120px;
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        color: white;
        border-radius: 10px;
}

.aaa {
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-left: 20px;
        font-weight: 800;
        font-size: 24px;
}

.box {
        margin-top: 40px;
        width: 343px;
        height: 259px;
        border-radius: 10px;
        background-color: white;
}

h2 {
        margin-top: 70px;
        margin-left: 30px;
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        color: #13183F;
}

.paragraphs {
        margin-top: 10px;
        margin-left: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #83869A;
}

h3 {
        width: 104px;
        margin-top: 15px;
        margin-left: 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #F74780;
}

h3:hover {
        color: #FFA7C3;
}

.lastcontainer {
        display: flex;
        align-items: center;
        gap: 100px;
        margin-top: 80px;
        width: 375px;
        height: 120px;
        background-color: #13183F;
}

.lightimage {
        margin-left: 22px;
        width: 90px;
        height: 25px;
}

.getstartedlast {
        width: 140px;
        height: 48px;
        border-radius: 28px;
        border-style: none;
        background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
        color: white;
}

.getstartedlast:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.aaaa {
        font-weight: 700;
        font-size: 15px;
}

.animationicon {
        position: absolute;
        margin-bottom: 700px;
        margin-right: 250px;
}

.designicon {
        position: absolute;
        margin-bottom: 100px;
        margin-right: 250px;
}

.photographyicon {
        position: absolute;
        margin-right: 250px;
        margin-top: 500px;
}

.cryptoicon {
        position: absolute;
        margin-right: 250px;
        margin-top: 1100px;
}

.businessicon {
        position: absolute;
        margin-right: 250px;
        margin-top: 1700px;
}

